{% extends 'layouts/base.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // make AJAX call to fetch data from server
  $.ajax({
    url: '/dashboard',
    type: 'GET',
    success: function(data) {
      // update page with new data
      $('#vehicle-count').html(data.vehicleCount);
      $('#access-count').html(data.accessCount);
      $('#blacklist-count').html(data.blacklistCount);
    },
    error: function() {
      console.log('Error fetching data from server');
    }
  });
});
</script>
  
        
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="vehicle-count">{{td}}</h3>

                            <p>Vehicles</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                        <div class="inner">
                            <h3 id="access-count">{{tt}}</h3>

                            <p>Access</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 id="blacklist-count">{{tc}}</h3>

                            <p>Blacklist</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        </div>
                    </div>

    
        
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}