{% extends 'layouts/base.html' %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Error</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
        <div class="col d-flex justify-content-center">

            <div class="card w-50">
                <div class="card-header">
                    <h3 class="card-title">Error</h3> 
                </div>
                <!-- Card body -->
                <br/>
                <center>
                    {% if error %}
                    <p>{{ error }}</p>
                  {% endif %}
                
                </center>
            </div>
        </div>
    </div>

  </section>
{% endblock content %}