<div class="modal fade" id="viewModal{{row.9}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bgColorWhite">
          <h4 class="modal-title">Update Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="row g-2">
                <div class="col">
                    <strong>Owner:</strong>
                    {{row.1}}
                </div>
                <div class="col">
                    <strong>National ID:</strong>
                    {{row.2}}
                </div>
            </div>
            <hr>
            <div class="row g-2">
                <div class="col">
                    <strong>Email:</strong>
                    {{row.3}} 
                </div>

                <div class="col">
                    <strong>Phone Number:</strong>
                    {{row.4}}
                </div>
            </div>
            <hr>
            <div class="row g-2">
                <div class="col">
                    <strong>Vehicle Name:</strong>
                    {{row.5}}
                </div>

                <div class="col">
                    <strong>Model:</strong>
                    {{row.6}}
                </div>
            </div>
            <hr>
            <div class="row g-2">
                <div class="col-lg-6">
                    <strong>Number Plate:</strong>
                    {{row.9}}
                </div>
                <div class="col">
                    <strong>Color</strong>
                    {{row.7}}
                </div>

            </div>
            <hr>
            <div class="row g-2">
                <div class="col">
                    <strong>Category:</strong>
                    {{row.8}}
                </div>
                <div class="col">
                    <strong>Status:</strong>
                    {{row.10}}
                </div>
            </div>
            <hr>
               
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>     
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  